/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*********************************************************/
/* Form */
/*********************************************************/

:root {
  --accent-color: #596D48;
  --almost-white: #fafafa;
  --side-hero-width: 33vw;
  --top-hero-height: 20vh;
  --form-padding: 4vw;
}

@font-face {
  font-family: norse;
  src:  url('assets/Norse-Bold.woff') format('woff'),
        url('assets/Norse-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
}

/* @font-face {
  font-family: norse;
  src:  url('assets/Norse-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
} */

.hero {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 100vw;
  height: 20vh;
  /* background-image: url(assets/shadman-sakib-KZlhkc4o1tI-unsplash.jpg); */
  background-image: url(assets/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
}

.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  gap: 10%;
}

.logo .symbol {
  background-image: url(assets/odin-lined.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: center;
  width: 100%;
  height: 40%;
}

.logo .signature {
  text-transform: uppercase;
  font-family: norse;
  font-size: 3rem;
  color: white;
}

.hero p {
  font-size: 0.75rem;
  font-weight: 300;
  position: absolute;
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  bottom: 0;
  padding: 4px;
}

.hero a {
  color: rgba(255, 255, 255, 0.7);
}

.content {
  display: flex;
  flex-direction: column;
  height: calc(100vh - var(--top-hero-height));
  width: 100vw;
  background: var(--almost-white);
  overflow-x: hidden; /* hide form shadow on the sides */
}

.marketing-copy {
  font-size: large;
  font-weight: 600;
  line-height: 1.25em;
  padding-bottom: 20px;
  padding-right: 12vw;
  color: rgba(0, 0, 0, 0.8);
  padding: var(--form-padding);
}

/*********************************************************/
/* Form */
/*********************************************************/

form {
  box-sizing: border-box;
  background: white;
  width: 100vw;
  padding: 20px var(--form-padding);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

legend {
  font-size: larger;
  font-weight: 600;
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.8);
}

.form-row {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-item {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  padding-bottom: 4px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.7);
  font-size: 0.6rem;
  font-weight: 700;
  letter-spacing: 0.1em;
}

input {
  box-sizing: border-box;
  border: 1px solid #E5E7EB;
  border-radius: 3px;
  padding: 7px;
  font-size: 14px;
}

input:focus {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.2);
}

input[type='password']:invalid {
  border: 1px solid crimson;
}

.submit {
  position: relative;
}

form button {
  position: absolute; /*offset submit button down to footer*/
  top: 10rem;

  font-size: 16px;
  font-weight: bold;

  color: white;
  background-color: var(--accent-color);

  border: none;
  border-radius: 8px;

  padding: 1rem 2.75rem;
  cursor: pointer;

  width: 100%;
}

footer {
  padding: 6rem 0 1rem var(--form-padding);
}

footer a {
  text-decoration: none;
  color: var(--accent-color);
}


/*********************************************************/
/* Media Queries */
/*********************************************************/

/*********************************************************/
/* Desktop */
/*********************************************************/

@media only screen and (min-width: 630px) {
  body {
    display: flex;
    flex-direction: row;
  }

  .hero {
    width: var(--side-hero-width);
    height: 100vh;
  }

  .logo {
    display: flex;
    flex-direction: row;
    background: rgba(0, 0, 0, 0.4);
    margin-top: 25vh;
    height: 140px;
    gap: 0;
  }
  
  .logo .symbol {
    background-image: url(assets/odin-lined.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: center;
    width: 7vw;
    height: 80%;
  }
  
  .logo .signature {
    text-transform: uppercase;
    font-family: norse;
    font-size: 6vw;
    color: white;
    padding-top: 1.5vw;
  }

  .content {
    justify-content: center;
    height: 100vh;
    width: calc(100vw - var(--side-hero-width));
  }

  .marketing-copy {
    font-size: x-large;
  }

  .form-row {
    flex-direction: row;
    gap: 6vw;
  }

  .form-item {
    width: 20vw;
  }

  form button {
    top: 7rem;
    width: auto;
  }

  footer {
    padding: 7rem 0 0 var(--form-padding);
  }

}